doc/_build/*
build/*
Results/*
rlpy/Representations/FastCythonKiFDD.cpp
rlpy/Representations/hashing.c
rlpy/Representations/kernels.cpp
rlpy/Domains/HIVTreatment_dynamics.c
*.so
*.swp
.project
.pydevproject
*.pyc
Config.py
.ropeproject
.nfs*
dist
*.egg-info
