Alborz Geramifard <agf@csail.mit.edu> alborzg <alborzg@amazon.com> 
Alborz Geramifard <agf@csail.mit.edu> Alborz <agf@mit.edu> 
Bobby Klein <bobklein2@gmail.com> Robert Klein <rhklein@mit.edu>
Bobby Klein <bobklein2@gmail.com> Robert H. Klein <rhklein@mit.edu>
Christoph Dann <cdann@cdann.de> Christoph Dann <cdann@cmu.edu>
Christoph Dann <cdann@cdann.de> Christoph Dann <cdann@mit.edu>
Will Dabney <amarack@gmail.com> William Dabney <amarack@gmail.com> 
