language: python
virtualenv:
    system_site_packages: true
python:
    - "2.7"
before_install:
    - "sudo apt-get update -qq"
    - "sudo apt-get install python-tk python-matplotlib python-sklearn python-scipy"
install: 
    - "pip install cython"
    - "python setup.py develop"
    - "sed -i \"/^\\/usr\\/lib/d\" /home/travis/virtualenv/python2.7_with_system_site_packages/local/lib/python2.7/site-packages/easy-install.pth || echo Error"
script: "xvfb-run --server-args=\"-screen 0 1024x768x24\" nosetests tests --logging-clear-handlers -v"
