Machine == "cocosci-2.csail.mit.edu" || \
Machine == "qkt6.csail.mit.edu" || \
Machine == "yodel10.csail.mit.edu" || \
Machine == "cocosci-3.csail.mit.edu" || \
Machine == "mad9.csail.mit.edu" || \
Machine == "hermes2.csail.mit.edu" || \
Machine == "hive22.csail.mit.edu" || \
Machine == "hive20.csail.mit.edu" || \
Machine == "yodel17.csail.mit.edu" || \
Machine == "hive21.csail.mit.edu" || \
Machine == "yodel2.csail.mit.edu" || \
Machine == "hive22.csail.mit.edu" || \
Machine == "hive16.csail.mit.edu" || \
Machine == "yodel17.csail.mit.edu" || \
Machine == "mad2.csail.mit.edu" || \
Machine == "hive20.csail.mit.edu" || \
Machine == "cocosci-head.csail.mit.edu" || \
Machine == "hermes7.csail.mit.edu" || \
Machine == "hive16.csail.mit.edu" || \
Machine == "mad2.csail.mit.edu" || \
Machine == "hive24.csail.mit.edu" || \
Machine == "hive20.csail.mit.edu" || \
Machine == "hive24.csail.mit.edu" || \
Machine == "cocosci-head.csail.mit.edu" || \
Machine == "cocosci-6.csail.mit.edu" || \
Machine == "mad8.csail.mit.edu" || \
Machine == "cocosci-3.csail.mit.edu" || \
Machine == "hermes3.csail.mit.edu" || \
Machine == "hive21.csail.mit.edu" || \
Machine == "hermes11.csail.mit.edu" || \
Machine == "hermes5.csail.mit.edu" || \
Machine == "hive11.csail.mit.edu" || \
Machine == "cocosci-2.csail.mit.edu" || \
Machine == "yodel6.csail.mit.edu" || \
Machine == "yodel5.csail.mit.edu" || \
Machine == "yodel12.csail.mit.edu" || \
Machine == "hive12.csail.mit.edu" || \
Machine == "hermes8.csail.mit.edu" || \
Machine == "qkt5.csail.mit.edu" || \
Machine == "mad1.csail.mit.edu" || \
Machine == "hive24.csail.mit.edu" || \
Machine == "yodel14.csail.mit.edu" || \
Machine == "yodel3.csail.mit.edu" || \
Machine == "cocosci-4.csail.mit.edu" || \
Machine == "hive10.csail.mit.edu" || \
Machine == "hermes2.csail.mit.edu" || \
Machine == "yodel5.csail.mit.edu" || \
Machine == "hive21.csail.mit.edu" || \
Machine == "mad2.csail.mit.edu" || \
Machine == "cocosci-6.csail.mit.edu" || \
Machine == "yodel11.csail.mit.edu" || \
Machine == "hermes4.csail.mit.edu" || \
Machine == "hive16.csail.mit.edu" || \
Machine == "hive23.csail.mit.edu" || \
Machine == "hive15.csail.mit.edu" || \
Machine == "hive19.csail.mit.edu" || \
Machine == "hermes3.csail.mit.edu" || \
Machine == "hive13.csail.mit.edu" || \
Machine == "qkt1.csail.mit.edu" || \
Machine == "mad3.csail.mit.edu" || \
Machine == "hive13.csail.mit.edu" || \
Machine == "hive16.csail.mit.edu" || \
Machine == "hive10.csail.mit.edu" || \
Machine == "hive10.csail.mit.edu" || \
Machine == "yodel7.csail.mit.edu" || \
Machine == "mad8.csail.mit.edu" || \
Machine == "mad3.csail.mit.edu" || \
Machine == "cocosci-1.csail.mit.edu" || \
Machine == "hive23.csail.mit.edu" || \
Machine == "yodel13.csail.mit.edu" || \
Machine == "yodel8.csail.mit.edu" || \
Machine == "hive12.csail.mit.edu" || \
Machine == "mad3.csail.mit.edu" || \
Machine == "hive19.csail.mit.edu" || \
Machine == "cocosci-6.csail.mit.edu" || \
Machine == "yodel6.csail.mit.edu" || \
Machine == "cocosci-1.csail.mit.edu" || \
Machine == "mad1.csail.mit.edu" || \
Machine == "cocosci-2.csail.mit.edu" || \
Machine == "mad3.csail.mit.edu" || \
Machine == "hermes9.csail.mit.edu" || \
Machine == "cocosci-5.csail.mit.edu" || \
Machine == "hermes11.csail.mit.edu" || \
Machine == "beast7.csail.mit.edu" || \
Machine == "hive11.csail.mit.edu" || \
Machine == "hermes2.csail.mit.edu" || \
Machine == "hive20.csail.mit.edu" || \
Machine == "hermes9.csail.mit.edu" || \
Machine == "mad7.csail.mit.edu" || \
Machine == "yodel5.csail.mit.edu" || \
Machine == "qkt9.csail.mit.edu" || \
Machine == "yodel11.csail.mit.edu" || \
Machine == "hive24.csail.mit.edu" || \
Machine == "hive24.csail.mit.edu" || \
Machine == "hermes8.csail.mit.edu" || \
Machine == "mad3.csail.mit.edu" || \
Machine == "hive23.csail.mit.edu" || \
Machine == "hive12.csail.mit.edu" || \
Machine == "hive22.csail.mit.edu" || \
Machine == "hive24.csail.mit.edu" || \
Machine == "mad8.csail.mit.edu" || \
Machine == "hive16.csail.mit.edu" || \
Machine == "hive11.csail.mit.edu" || \
Machine == "cocosci-3.csail.mit.edu" || \
Machine == "yodel4.csail.mit.edu" || \
Machine == "mad9.csail.mit.edu" || \
Machine == "hive24.csail.mit.edu" || \
Machine == "hive23.csail.mit.edu" || \
Machine == "hive19.csail.mit.edu" || \
Machine == "hive21.csail.mit.edu" || \
Machine == "qkt3.csail.mit.edu" || \
Machine == "hive11.csail.mit.edu" || \
Machine == "yodel6.csail.mit.edu" || \
Machine == "qkt6.csail.mit.edu" || \
Machine == "cocosci-5.csail.mit.edu" || \
Machine == "borg-login-2.csail.mit.edu" || \
Machine == "yodel6.csail.mit.edu" || \
Machine == "yodel13.csail.mit.edu" || \
Machine == "mad5.csail.mit.edu" || \
Machine == "cocosci-4.csail.mit.edu" || \
Machine == "hermes9.csail.mit.edu" || \
Machine == "qkt3.csail.mit.edu" || \
Machine == "beast7.csail.mit.edu" || \
Machine == "qkt3.csail.mit.edu" || \
Machine == "hive19.csail.mit.edu" || \
Machine == "cocosci-head.csail.mit.edu" || \
Machine == "yodel13.csail.mit.edu" || \
Machine == "hive16.csail.mit.edu" || \
Machine == "yodel2.csail.mit.edu" || \
Machine == "yodel11.csail.mit.edu" || \
Machine == "hive20.csail.mit.edu" || \
Machine == "yodel4.csail.mit.edu" || \
Machine == "hive16.csail.mit.edu" || \
Machine == "hive10.csail.mit.edu" || \
Machine == "hive20.csail.mit.edu" || \
Machine == "yodel2.csail.mit.edu" || \
Machine == "hive11.csail.mit.edu" || \
Machine == "cocosci-1.csail.mit.edu" || \
Machine == "yodel14.csail.mit.edu" || \
Machine == "hive13.csail.mit.edu" || \
Machine == "yodel10.csail.mit.edu" || \
Machine == "hive13.csail.mit.edu" || \
Machine == "qkt6.csail.mit.edu" || \
Machine == "qkt6.csail.mit.edu" || \
Machine == "hive15.csail.mit.edu" || \
Machine == "cocosci-7.csail.mit.edu" || \
Machine == "yodel14.csail.mit.edu" || \
Machine == "yodel17.csail.mit.edu" || \
Machine == "hive24.csail.mit.edu" || \
Machine == "hermes6.csail.mit.edu" || \
Machine == "hermes10.csail.mit.edu" || \
Machine == "hive16.csail.mit.edu" || \
Machine == "hive20.csail.mit.edu" || \
Machine == "yodel2.csail.mit.edu" || \
Machine == "hive21.csail.mit.edu" || \
Machine == "hive22.csail.mit.edu" || \
Machine == "qkt3.csail.mit.edu" || \
Machine == "hive22.csail.mit.edu" || \
Machine == "hive16.csail.mit.edu" || \
Machine == "hive12.csail.mit.edu" || \
Machine == "qkt3.csail.mit.edu" || \
Machine == "yodel7.csail.mit.edu" || \
Machine == "hive20.csail.mit.edu" || \
Machine == "mad8.csail.mit.edu" || \
Machine == "yodel8.csail.mit.edu" || \
Machine == "hermes8.csail.mit.edu" || \
Machine == "yodel3.csail.mit.edu" || \
Machine == "qkt4.csail.mit.edu" || \
Machine == "yodel14.csail.mit.edu" || \
Machine == "hermes4.csail.mit.edu" || \
Machine == "cocosci-head.csail.mit.edu" || \
Machine == "yodel11.csail.mit.edu" || \
Machine == "yodel12.csail.mit.edu" || \
Machine == "mad1.csail.mit.edu" || \
Machine == "hive24.csail.mit.edu" || \
Machine == "mad4.csail.mit.edu" || \
Machine == "cocosci-4.csail.mit.edu" || \
Machine == "mad7.csail.mit.edu" || \
Machine == "mad8.csail.mit.edu" || \
Machine == "hermes6.csail.mit.edu" || \
Machine == "hive23.csail.mit.edu" || \
Machine == "cocosci-6.csail.mit.edu" || \
Machine == "qkt6.csail.mit.edu" || \
Machine == "hermes7.csail.mit.edu" || \
Machine == "hermes5.csail.mit.edu" || \
Machine == "qkt9.csail.mit.edu" || \
Machine == "hermes1.csail.mit.edu" || \
Machine == "hermes8.csail.mit.edu" || \
Machine == "cocosci-4.csail.mit.edu" || \
Machine == "yodel4.csail.mit.edu" || \
Machine == "yodel13.csail.mit.edu" || \
Machine == "cocosci-5.csail.mit.edu" || \
Machine == "yodel12.csail.mit.edu" || \
Machine == "hermes10.csail.mit.edu" || \
Machine == "mad1.csail.mit.edu" || \
Machine == "yodel3.csail.mit.edu" || \
Machine == "qkt6.csail.mit.edu" || \
Machine == "hive15.csail.mit.edu" || \
Machine == "cocosci-7.csail.mit.edu" || \
Machine == "mad7.csail.mit.edu" || \
Machine == "yodel7.csail.mit.edu" || \
Machine == "mad6.csail.mit.edu" || \
Machine == "cocosci-3.csail.mit.edu" || \
